@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Exo&display=swap");
.main {
  padding-top: 50px;
}
.main .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/images/carbon_fiber.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 800px;
}
@media only screen and (min-width: 921px) {
  .main .header {
    height: 85vh;
  }
}
.main .header .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding: 30px 20px 50px 20px;
  width: 90%;
  border-radius: 15px;
  text-align: center;
  border-top: 5px solid #d70b0b;
  border-left: 5px solid #d70b0b;
  border-right: 5px solid #4b4b4b;
  border-bottom: 5px solid #4b4b4b;
}
.main .header .title h1,
.main .header .title h2 {
  color: #fff;
  font-family: "Racing Sans One", cursive;
}
.main .header .title h1 {
  font-size: 4rem;
  background-image: linear-gradient(to right, #da0000, #e04018, #f37d39);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 360px) {
  .main .header .title h1 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 920px) {
  .main .header .title h1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 921px) {
  .main .header .title h1 {
    font-size: 4rem;
  }
}
.main .header .title h2 {
  font-size: 2.8rem;
}
@media only screen and (max-width: 360px) {
  .main .header .title h2 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 920px) {
  .main .header .title h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (min-width: 921px) {
  .main .header .title h2 {
    font-size: 3rem;
  }
}
.main .header .title .logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 200px;
  margin-top: 15px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
}
@media only screen and (min-width: 921px) {
  .main .header .title .logo_container {
    max-width: unset;
    width: 400px;
    height: 120px;
  }
}
.main .header .title .logo_container .image {
  width: 100%;
  height: 50%;
  position: relative;
}
@media only screen and (min-width: 921px) {
  .main .header .title .logo_container .image {
    width: 100%;
    height: 80%;
  }
}
.main .header .title .logo_container .image img {
  -o-object-fit: contain;
     object-fit: contain;
}
.main .header .button {
  background: #fff;
  color: #4b4b4b;
  border: none;
  border-radius: 20px;
  padding: 12px 15px;
  width: 150px;
  margin-top: 80px;
  font-weight: 700;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
}
@media only screen and (min-width: 921px) {
  .main .header .button {
    font-size: 1.2rem;
    border-radius: 25px;
  }
}
.main .header .button:hover {
  cursor: pointer;
  background: #000;
  outline: 2px solid #fff;
  color: #fff;
}
.main .intro_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: unset;
  background: #fff;
  height: auto;
  padding: 50px 0;
}
.main .intro_section h3 {
  font-family: "Exo", sans-serif;
  font-size: 1.6rem;
  color: #4b4b4b;
  text-align: center;
  margin-bottom: 50px;
}
.main .intro_section .keywords_container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.main .intro_section .keywords_container .keyword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 1.4rem;
  background: linear-gradient(320deg, rgb(122, 122, 122) 0%, rgb(65, 65, 65) 35%, rgb(2, 2, 2) 100%);
  box-shadow: 12px 10px 20px #000000;
  border-radius: 15px;
  height: 180px;
  width: 180px;
}
@media only screen and (min-width: 601px) and (max-width: 920px) {
  .main .intro_section .keywords_container .keyword {
    height: 180px;
  }
}
@media only screen and (min-width: 921px) {
  .main .intro_section .keywords_container .keyword {
    height: 220px;
    width: 220px;
    max-width: unset;
    font-size: 1.2rem;
  }
}
.main .services_section {
  background-color: #4b4b4b;
}/*# sourceMappingURL=homePage.module.css.map */